[Unit]
Description=Words Trainer Nuxt app
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/powerdot/node/words-trainer-nuxt
Environment=HOST=127.0.0.1
Environment=PORT=3018
EnvironmentFile=/home/powerdot/node/words-trainer-nuxt/.env
ExecStart=/usr/bin/env node .output/server/index.mjs
Restart=always
RestartSec=2
StandardOutput=append:/tmp/words-trainer.log
StandardError=append:/tmp/words-trainer.log

[Install]
WantedBy=default.target
