@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-radius: 0.125rem;
  --ui-primary: black;
}

.dark {
  --ui-primary: white;
}

h2{
  color: #ffffff;
  margin-bottom: 10px;
  padding-left: 2px;
  font-weight: bold;
  cursor: default;
}

p.actionInfo{
  margin-top: 16px;
  padding-left: 32px;
  background-image: url(~/assets/images/bulb-white.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 0px 8px;
  color: #ffffff99;
  cursor: default;
  line-height: 42px;
  margin-bottom: -10px;
}